<!DOCTYPE html>
<html lang="en-US">
<body>


<div id="google_translate_element"></div>

<script type="text/javascript">
    function googleTranslateElementInit() {
        /*
Get the current browser language.
*/
var langBrowser = navigator.language || navigator.userLanguage;

/* If the language contains a region code, get only the 2-character lang code. For example en-US -> en. */
var currentBLang = langBrowser.split('-')[0];

      new google.translate.TranslateElement({
        pageLanguage: 'en',
      }, 'google_translate_element');
      if (currentBLang != "en"){
      setTimeout(function() {
        // Set the default language to Spanish
        var selectElement = document.querySelector('#google_translate_element select');
        selectElement.value = currentBLang;
        selectElement.dispatchEvent(new Event('change'));
      }, 1000);
    }
    }
  </script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
